In [1]:
import numpy as np
import pandas as pd

In [2]:
admissions = pd.read_csv('Provided Tables/readmission/admissions_202208161605.csv')
cptEvents = pd.read_csv('Provided Tables/readmission/cptevents_202208161605.csv')
labItems = pd.read_csv('Provided Tables/readmission/d_labitems_202208161605.csv')
diagnosis = pd.read_csv('Provided Tables/readmission/diagnoses_icd_202208161605.csv')
drgCodes = pd.read_csv('Provided Tables/readmission/drgcodes_202208161605.csv')
labEvents = pd.read_csv('Provided Tables/readmission/labevents_202208161605.csv')
patients = pd.read_csv('Provided Tables/readmission/patients_202208161605.csv')
procedures = pd.read_csv('Provided Tables/readmission/procedures_icd_202208161605.csv')

/var/folders/fz/sd4mlm5j5xq82d0vlcyb4sgm0000gn/T/ipykernel_1011/163967021.py:2: DtypeWarning: Columns (4,5,7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  cptEvents = pd.read_csv('Provided Tables/readmission/cptevents_202208161605.csv')

In [3]:
admissions.drop(columns=['row_id','admission_location','insurance','language','religion','marital_status','edouttime','diagnosis','hospital_expire_flag','has_chartevents_data','deathtime','edregtime'])

,subject_id,hadm_id,admittime,dischtime,admission_type,discharge_location,ethnicity
0,22,165315,2196-04-09 12:26:00.000,2196-04-10 15:54:00.000,EMERGENCY,DISC-TRAN CANCER/CHLDRN H,WHITE
1,23,152223,2153-09-03 07:15:00.000,2153-09-08 19:10:00.000,ELECTIVE,HOME HEALTH CARE,WHITE
2,23,124321,2157-10-18 19:34:00.000,2157-10-25 14:00:00.000,EMERGENCY,HOME HEALTH CARE,WHITE
3,24,161859,2139-06-06 16:14:00.000,2139-06-09 12:48:00.000,EMERGENCY,HOME,WHITE
4,25,129635,2160-11-02 02:06:00.000,2160-11-05 14:55:00.000,EMERGENCY,HOME,WHITE
...,...,...,...,...,...,...,...
58971,98800,191113,2131-03-30 21:13:00.000,2131-04-02 15:02:00.000,EMERGENCY,HOME,WHITE
58972,98802,101071,2151-03-05 20:00:00.000,2151-03-06 09:10:00.000,EMERGENCY,DEAD/EXPIRED,WHITE
58973,98805,122631,2200-09-12 07:15:00.000,2200-09-20 12:08:00.000,ELECTIVE,HOME HEALTH CARE,WHITE
58974,98813,170407,2128-11-11 02:29:00.000,2128-12-22 13:11:00.000,EMERGENCY,SNF,WHITE
58975,98813,190264,2131-10-25 03:09:00.000,2131-10-26 17:44:00.000,EMERGENCY,HOME,WHITE

In [4]:
cptEvents.drop(columns=['row_id','sectionheader','subsectionheader','description','costcenter','chartdate','cpt_number','cpt_suffix','ticket_id_seq'])

        subject_id  hadm_id cpt_cd
0            11743   129545  99232
1            11743   129545  99232
2            11743   129545  99232
3            11743   129545  99232
4             6185   183725  99223
...            ...      ...    ...
573141       78876   163404  94003
573142       78879   136071  94003
573143       78879   136071  94002
573144       78892   175171  94003
573145       78892   175171  94003

[573146 rows x 3 columns]

In [5]:
diagnosis['seq_num'].isnull().sum()

47

In [6]:
diagnosis.shape

(651047, 5)

In [7]:
diagnosis.drop(columns=['row_id','seq_num'])

        subject_id  hadm_id icd9_code
0              109   172335     40301
1              109   172335       486
2              109   172335     58281
3              109   172335      5855
4              109   172335      4254
...            ...      ...       ...
651042       97503   188195     20280
651043       97503   188195     V5869
651044       97503   188195     V1279
651045       97503   188195      5275
651046       97503   188195      5569

[651047 rows x 3 columns]

In [8]:
labEvents.drop(columns=['value','valuenum','valueuom','row_id'])

          subject_id   hadm_id  itemid                charttime      flag
0                  3       NaN   50820  2101-10-12 16:07:00.000       NaN
1                  3       NaN   50800  2101-10-12 18:17:00.000       NaN
2                  3       NaN   50802  2101-10-12 18:17:00.000       NaN
3                  3       NaN   50804  2101-10-12 18:17:00.000       NaN
4                  3       NaN   50808  2101-10-12 18:17:00.000  abnormal
...              ...       ...     ...                      ...       ...
27854050       96443  103219.0   50882  2109-12-30 01:40:00.000       NaN
27854051       96443  103219.0   50885  2109-12-30 01:40:00.000  abnormal
27854052       96443  103219.0   50902  2109-12-30 01:40:00.000       NaN
27854053       96443  103219.0   50911  2109-12-30 01:40:00.000       NaN
27854054       96443  103219.0   50912  2109-12-30 01:40:00.000  abnormal

[27854055 rows x 5 columns]

In [9]:
drgCodes.drop(columns=['row_id','drg_severity','drg_mortality'])

,subject_id,hadm_id,drg_type,drg_code,description
0,2491,144486,HCFA,28,"TRAUMATIC STUPOR & COMA, COMA <1 HR AGE >17 WI..."
1,24958,162910,HCFA,110,MAJOR CARDIOVASCULAR PROCEDURES WITH COMPLICAT...
2,18325,153751,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS
3,17887,182692,HCFA,14,SPECIFIC CEREBROVASCULAR DISORDERS EXCEPT TRAN...
4,11113,157980,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS
...,...,...,...,...,...
125552,71582,101422,MS,221,CARDIAC VALVE & OTH MAJ CARDIOTHORACIC PROC W/...
125553,46449,110075,APR,1653,Coronary Bypass w/ Cardiac Cath Or Percutaneou...
125554,46449,110075,APR,1653,Coronary Bypass w/ Cardiac Cath Or Percutaneou...
125555,46449,110075,MS,234,CORONARY BYPASS W CARDIAC CATH W/O MCC
125556,87879,155607,APR,6813,Other O.R. Procedures For Lymphatic/Hematopiet...

In [10]:
procedures.drop(columns=['row_id'])

        subject_id  hadm_id  seq_num  icd9_code
0            62641   154460        3       3404
1             2592   130856        1       9671
2             2592   130856        2       3893
3            55357   119355        1       9672
4            55357   119355        2        331
...            ...      ...      ...        ...
240090       67415   150871        5       3736
240091       67415   150871        6       3893
240092       67415   150871        7       8872
240093       67415   150871        8       3893
240094       67415   150871        9       3722

[240095 rows x 4 columns]

In [11]:
patients.drop(columns=['row_id','dod_hosp','dod_ssn','expire_flag'])

       subject_id gender                      dob                      dod
0             249      F  2075-03-13 00:00:00.000                      NaN
1             250      F  2164-12-27 00:00:00.000  2188-11-22 00:00:00.000
2             251      M  2090-03-15 00:00:00.000                      NaN
3             252      M  2078-03-06 00:00:00.000                      NaN
4             253      F  2089-11-26 00:00:00.000                      NaN
...           ...    ...                      ...                      ...
46515       44089      M  2026-05-25 00:00:00.000                      NaN
46516       44115      F  2124-07-27 00:00:00.000                      NaN
46517       44123      F  2049-11-26 00:00:00.000  2135-01-12 00:00:00.000
46518       44126      F  2076-07-25 00:00:00.000                      NaN
46519       44128      M  2098-07-25 00:00:00.000                      NaN

[46520 rows x 4 columns]

# Final Tables

In [12]:
crop_admissions = admissions.drop(columns=['row_id','admission_location','insurance','language','religion','marital_status','edouttime','diagnosis','hospital_expire_flag','has_chartevents_data','deathtime','edregtime'])
crop_cptEvents = cptEvents.drop(columns=['row_id','sectionheader','subsectionheader','description','costcenter','chartdate','cpt_number','cpt_suffix','ticket_id_seq'])
crop_diagnosis = diagnosis.drop(columns=['row_id','seq_num'])
crop_labEvents = labEvents.drop(columns=['valuenum','valueuom','row_id'])
crop_drgCodes = drgCodes.drop(columns=['row_id'])
crop_procedures = procedures.drop(columns=['row_id'])
crop_patients = patients.drop(columns=['row_id','dod_hosp','dod_ssn','expire_flag'])

Merging With cpt_events

In [13]:
crop_cptEvents.duplicated().sum()

345595

In [14]:
crop_cptEvents.drop_duplicates(inplace=True)

In [15]:
crop_admissions.shape

(58976, 7)

In [16]:
# Step 1: Group cpt_df to avoid row explosion
crop_cptEvents = crop_cptEvents.groupby(['subject_id', 'hadm_id'])['cpt_cd'].agg(list).reset_index()

# Step 2: Merge with base_df
merged_df = pd.merge(crop_admissions, crop_cptEvents, on=['subject_id', 'hadm_id'], how='left')

In [17]:
merged_df = pd.merge(crop_admissions, crop_cptEvents, on=['subject_id', 'hadm_id'], how='left')

In [18]:
merged_df

,subject_id,hadm_id,admittime,dischtime,admission_type,discharge_location,ethnicity,cpt_cd
0,22,165315,2196-04-09 12:26:00.000,2196-04-10 15:54:00.000,EMERGENCY,DISC-TRAN CANCER/CHLDRN H,WHITE,NaN
1,23,152223,2153-09-03 07:15:00.000,2153-09-08 19:10:00.000,ELECTIVE,HOME HEALTH CARE,WHITE,NaN
2,23,124321,2157-10-18 19:34:00.000,2157-10-25 14:00:00.000,EMERGENCY,HOME HEALTH CARE,WHITE,"[99255, 99232, 69990, 61795, 61512, 99254]"
3,24,161859,2139-06-06 16:14:00.000,2139-06-09 12:48:00.000,EMERGENCY,HOME,WHITE,"[99223, 99232, 99238]"
4,25,129635,2160-11-02 02:06:00.000,2160-11-05 14:55:00.000,EMERGENCY,HOME,WHITE,"[99239, 99291, 99233]"
...,...,...,...,...,...,...,...,...
58971,98800,191113,2131-03-30 21:13:00.000,2131-04-02 15:02:00.000,EMERGENCY,HOME,WHITE,"[99253, 99291, 99231, 94003]"
58972,98802,101071,2151-03-05 20:00:00.000,2151-03-06 09:10:00.000,EMERGENCY,DEAD/EXPIRED,WHITE,NaN
58973,98805,122631,2200-09-12 07:15:00.000,2200-09-20 12:08:00.000,ELECTIVE,HOME HEALTH CARE,WHITE,"[99291, 99233, 44140, 44955, 94003]"
58974,98813,170407,2128-11-11 02:29:00.000,2128-12-22 13:11:00.000,EMERGENCY,SNF,WHITE,"[99231, 22305, 99255, 99362, 99232, 99254, 992..."
58975,98813,190264,2131-10-25 03:09:00.000,2131-10-26 17:44:00.000,EMERGENCY,HOME,WHITE,[99291]

Merge with diagnosis

In [19]:
crop_diagnosis

        subject_id  hadm_id icd9_code
0              109   172335     40301
1              109   172335       486
2              109   172335     58281
3              109   172335      5855
4              109   172335      4254
...            ...      ...       ...
651042       97503   188195     20280
651043       97503   188195     V5869
651044       97503   188195     V1279
651045       97503   188195      5275
651046       97503   188195      5569

[651047 rows x 3 columns]

In [20]:
# Keeping the records only for the heart failure cases
heart_failure_icd9 = set()
heart_failure_icd9 = {'39891','40201','40211','40291','40401','40403','40411','40413','40491','40493','4280','4281','42820',
                      '42821', '42822','42823','42830','42831','42832','42833','42840','42841','42842','42843','4289'}

In [21]:
# Step 1: Clean ICD-9 codes (convert all to strings)
crop_diagnosis['icd9_code'] = (
    crop_diagnosis['icd9_code']
    .astype(str)
    .str.replace(r'\.0$', '', regex=True)
)

# Step 2: Aggregate diagnoses per admission
diagnosis_agg = (
    crop_diagnosis
    .groupby(['subject_id', 'hadm_id'])['icd9_code']
    .apply(lambda codes: ','.join(codes.dropna()))
    .reset_index(name='all_diagnosis')
)

# Step 3: Merge aggregated diagnoses into merged_df
merged_df = merged_df.merge(diagnosis_agg, on=['subject_id', 'hadm_id'], how='left')

# Step 4: Fill missing values
merged_df['all_diagnosis'] = merged_df['all_diagnosis'].fillna('No_Diagnoses')

# Step 5: Filter for rows with at least one heart failure ICD-9 code
def has_heart_failure(diagnosis_str):
    codes = diagnosis_str.split(',')
    return any(code in heart_failure_icd9 for code in codes)

# Apply filter
merged_df = merged_df[merged_df['all_diagnosis'].apply(has_heart_failure)]

In [22]:
diagnosis_agg .head()

   subject_id  hadm_id                                   all_diagnosis
0           2   163353                                 V3001,V053,V290
1           3   145834  0389,78559,5849,4275,41071,4280,6826,4254,2639
2           4   185777   042,1363,7994,2763,7907,5715,04111,V090,E9317
3           5   178980                                 V3000,V053,V290
4           6   107064       40391,4440,9972,2766,2767,2859,2753,V1582

In [23]:
merged_df[['subject_id','hadm_id']].duplicated().sum()

0

In [24]:
merged_df.shape

(14040, 9)

In [25]:
#Merging patients table
merged_df = pd.merge(merged_df,crop_patients, on=['subject_id'], how='left')

In [26]:
merged_df.shape

(14040, 12)

Merging drg codes

In [27]:
crop_drgCodes

,subject_id,hadm_id,drg_type,drg_code,description,drg_severity,drg_mortality
0,2491,144486,HCFA,28,"TRAUMATIC STUPOR & COMA, COMA <1 HR AGE >17 WI...",NaN,NaN
1,24958,162910,HCFA,110,MAJOR CARDIOVASCULAR PROCEDURES WITH COMPLICAT...,NaN,NaN
2,18325,153751,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS,NaN,NaN
3,17887,182692,HCFA,14,SPECIFIC CEREBROVASCULAR DISORDERS EXCEPT TRAN...,NaN,NaN
4,11113,157980,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS,NaN,NaN
...,...,...,...,...,...,...,...
125552,71582,101422,MS,221,CARDIAC VALVE & OTH MAJ CARDIOTHORACIC PROC W/...,NaN,NaN
125553,46449,110075,APR,1653,Coronary Bypass w/ Cardiac Cath Or Percutaneou...,3.0,2.0
125554,46449,110075,APR,1653,Coronary Bypass w/ Cardiac Cath Or Percutaneou...,3.0,2.0
125555,46449,110075,MS,234,CORONARY BYPASS W CARDIAC CATH W/O MCC,NaN,NaN
125556,87879,155607,APR,6813,Other O.R. Procedures For Lymphatic/Hematopiet...,3.0,2.0

In [28]:
crop_drgCodes[['subject_id','hadm_id']].duplicated().sum()

66667

In [29]:
crop_drgCodes.duplicated().sum()

25233

In [30]:
crop_drgCodes.drop_duplicates(inplace=True)

In [31]:
#removing whitespace
print(crop_drgCodes['drg_type'].unique())

crop_drgCodes['drg_type'] = crop_drgCodes['drg_type'].str.strip().str.upper()

['HCFA' 'APR ' 'MS']

In [32]:
# Giving APR as priority

priority = {'APR': 0, 'MS': 1, 'HCFA': 2}
crop_drgCodes['drg_priority'] = crop_drgCodes['drg_type'].map(priority)
crop_drgCodes_sorted = crop_drgCodes.sort_values(by=['subject_id', 'hadm_id', 'drg_priority'])

In [33]:
crop_drgCodes_sorted

,subject_id,hadm_id,drg_type,drg_code,description,drg_severity,drg_mortality,drg_priority
42045,2,163353,APR,6402,"Neonate, Bwt > 2499g, Normal Newborn Or Neonat...",2.0,1.0,0
42046,2,163353,HCFA,391,NORMAL NEWBORN,NaN,NaN,2
3746,3,145834,HCFA,416,SEPTICEMIA AGE >17,NaN,NaN,2
15451,4,185777,HCFA,489,HIV WITH MAJOR RELATED CONDITION,NaN,NaN,2
5309,5,178980,HCFA,391,NORMAL NEWBORN,NaN,NaN,2
...,...,...,...,...,...,...,...,...
105965,99992,197084,MS,907,OTHER O.R. PROCEDURES FOR INJURIES W MCC,NaN,NaN,1
120286,99995,137810,APR,1732,Other Vascular Procedures,2.0,3.0,0
120288,99995,137810,MS,237,MAJOR CARDIOVASC PROCEDURES W MCC,NaN,NaN,1
79373,99999,113369,APR,3042,Dorsal & Lumbar Fusion Proc Except for Curvatu...,2.0,1.0,0
79375,99999,113369,MS,460,SPINAL FUSION EXCEPT CERVICAL W/O MCC,NaN,NaN,1

In [34]:
unique_drgCodes = crop_drgCodes_sorted.drop_duplicates(subset=['subject_id', 'hadm_id'], keep='first')

unique_drgCodes = unique_drgCodes.drop(columns='drg_priority')

unique_drgCodes.reset_index(drop=True, inplace=True)

In [35]:
unique_drgCodes[['drg_type']].value_counts()

drg_type
APR         39395
HCFA        19495
Name: count, dtype: int64

In [36]:
unique_drgCodes[['subject_id','hadm_id']].duplicated().sum()

0

In [37]:
merged_df = pd.merge(merged_df, unique_drgCodes, on=['subject_id', 'hadm_id'], how='left')

In [38]:
merged_df.shape

(14040, 17)

In [39]:
merged_df

,subject_id,hadm_id,admittime,dischtime,admission_type,discharge_location,ethnicity,cpt_cd,all_diagnosis,gender,dob,dod,drg_type,drg_code,description,drg_severity,drg_mortality
0,26,197661,2126-05-06 15:16:00.000,2126-05-13 15:00:00.000,EMERGENCY,HOME,UNKNOWN/NOT SPECIFIED,"[99223, 99231]","99604,4271,4280,42731,41401,412,5939,2720,60000",M,2054-05-04 00:00:00.000,2128-02-25 00:00:00.000,HCFA,515.0,CARDIAC DEFIBRILLATOR IMPLANT WITHOUT CARDIAC ...,NaN,NaN
1,30,104557,2172-10-14 14:17:00.000,2172-10-19 14:37:00.000,URGENT,HOME HEALTH CARE,UNKNOWN/NOT SPECIFIED,NaN,"99674,4160,4111,4281,4271,41401,4019,2720,5939",M,1872-10-14 00:00:00.000,NaN,HCFA,468.0,EXTENSIVE OPERATING ROOM PROCEDURE UNRELATED T...,NaN,NaN
2,34,115799,2186-07-18 16:46:00.000,2186-07-20 16:00:00.000,EMERGENCY,HOME,WHITE,"[99291, 99238]","41071,4280,4254,42731,9971,4260,41401,E8790",M,1886-07-18 00:00:00.000,2192-01-30 00:00:00.000,APR,1903.0,Acute Myocardial Infarction,3.0,3.0
3,34,144319,2191-02-23 05:23:00.000,2191-02-25 20:20:00.000,EMERGENCY,HOME HEALTH CARE,WHITE,"[99024, 99223]","42789,42822,4263,41401,V5861,4280,2449,3659",M,1886-07-18 00:00:00.000,2192-01-30 00:00:00.000,APR,1712.0,"Perm Cardiac Pacemaker Implant w/o AMI, Heart ...",2.0,2.0
4,37,188670,2183-08-21 16:48:00.000,2183-08-26 18:54:00.000,EMERGENCY,HOME HEALTH CARE,WHITE,"[99232, 99238, 99291, 99223]","41071,4280,496,53551,2851,486,41401,25000,42789",M,2114-09-17 00:00:00.000,2185-01-06 00:00:00.000,HCFA,121.0,CIRCULATORY DISORDERS WITH ACUTE MYOCARDIAL IN...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14035,98720,131917,2178-09-17 18:31:00.000,2178-09-23 17:30:00.000,EMERGENCY,LONG TERM CARE HOSPITAL,WHITE,"[99291, 99292, 92960]","42781,42833,5849,4589,2930,40291,4280,5990,427...",F,1878-09-17 00:00:00.000,NaN,APR,1713.0,"Perm Cardiac Pacemaker Implant w/o AMI, Heart ...",3.0,4.0
14036,98724,186754,2143-08-22 16:01:00.000,2143-09-02 17:15:00.000,EMERGENCY,REHAB/DISTINCT PART HOSP,WHITE,"[99291, 11043, 23472, 20610, 11046, 99233, 992...","99666,03819,78552,99592,42833,5849,99812,E8781...",F,2059-03-24 00:00:00.000,NaN,APR,3154.0,"Shoulder, Upper Arm & Forearm Procedures",4.0,4.0
14037,98744,153703,2127-10-21 12:43:00.000,2127-10-31 12:35:00.000,EMERGENCY,HOME HEALTH CARE,WHITE,"[52317, 52332, 74420, 99292, 99291, 36556, 992...","99859,0389,99592,78552,5849,5990,42830,9971,27...",M,2058-01-11 00:00:00.000,NaN,APR,7214.0,"Post-Operative, Post-Traumatic, Other Device I...",4.0,4.0
14038,98753,185764,2172-02-11 21:26:00.000,2172-03-02 08:00:00.000,EMERGENCY,DEAD/EXPIRED,WHITE,"[99233, 99232, 52001, 99223, 99356, 99291, 992...","1888,51881,5849,56881,42831,40391,1985,04111,1...",F,2094-05-01 00:00:00.000,2172-03-02 00:00:00.000,APR,4614.0,Kidney & Urinary Tract Malignancy,4.0,4.0
14039,98755,184156,2167-05-17 12:36:00.000,2167-05-18 17:03:00.000,EMERGENCY,LONG TERM CARE HOSPITAL,WHITE,"[99291, 99233, 94003]","49121,42832,25000,4280,3004",F,2087-03-31 00:00:00.000,2167-05-20 00:00:00.000,APR,1402.0,Chronic Obstructive Pulmonary Disease,2.0,2.0

Adding Age column

In [40]:
def calculate_age_robust(dob, admittime):
    """
    Calculate age handling all edge cases:
    - Missing values
    - Invalid dates
    - Date ranges where dob > admittime
    - Ages > 110 years
    - Month/day adjustments
    """
    # Handle missing values
    if pd.isna(dob) or pd.isna(admittime):
        return np.nan
    
    # Ensure datetime (if not already)
    dob = pd.to_datetime(dob, errors='coerce')
    admittime = pd.to_datetime(admittime, errors='coerce')
    
    # Check for conversion failures
    if pd.isna(dob) or pd.isna(admittime):
        return np.nan
    
    # Validate reasonable date ranges
    if (dob.year < 1900) or (dob > admittime):
        return np.nan
    
    # Calculate using date components (most reliable method)
    years = admittime.year - dob.year
    months = admittime.month - dob.month
    days = admittime.day - dob.day
    
    # Adjust if birthday hasn't occurred yet
    if (months < 0) or (months == 0 and days < 0):
        years -= 1
    
    # Return capped age (0-110)
    return max(0, min(years, 110))

In [41]:
merged_df['age'] = merged_df.apply(
    lambda row: calculate_age_robust(row['dob'], row['admittime']), 
    axis=1
)

In [42]:
merged_df

,subject_id,hadm_id,admittime,dischtime,admission_type,discharge_location,ethnicity,cpt_cd,all_diagnosis,gender,dob,dod,drg_type,drg_code,description,drg_severity,drg_mortality,age
0,26,197661,2126-05-06 15:16:00.000,2126-05-13 15:00:00.000,EMERGENCY,HOME,UNKNOWN/NOT SPECIFIED,"[99223, 99231]","99604,4271,4280,42731,41401,412,5939,2720,60000",M,2054-05-04 00:00:00.000,2128-02-25 00:00:00.000,HCFA,515.0,CARDIAC DEFIBRILLATOR IMPLANT WITHOUT CARDIAC ...,NaN,NaN,72.0
1,30,104557,2172-10-14 14:17:00.000,2172-10-19 14:37:00.000,URGENT,HOME HEALTH CARE,UNKNOWN/NOT SPECIFIED,NaN,"99674,4160,4111,4281,4271,41401,4019,2720,5939",M,1872-10-14 00:00:00.000,NaN,HCFA,468.0,EXTENSIVE OPERATING ROOM PROCEDURE UNRELATED T...,NaN,NaN,NaN
2,34,115799,2186-07-18 16:46:00.000,2186-07-20 16:00:00.000,EMERGENCY,HOME,WHITE,"[99291, 99238]","41071,4280,4254,42731,9971,4260,41401,E8790",M,1886-07-18 00:00:00.000,2192-01-30 00:00:00.000,APR,1903.0,Acute Myocardial Infarction,3.0,3.0,NaN
3,34,144319,2191-02-23 05:23:00.000,2191-02-25 20:20:00.000,EMERGENCY,HOME HEALTH CARE,WHITE,"[99024, 99223]","42789,42822,4263,41401,V5861,4280,2449,3659",M,1886-07-18 00:00:00.000,2192-01-30 00:00:00.000,APR,1712.0,"Perm Cardiac Pacemaker Implant w/o AMI, Heart ...",2.0,2.0,NaN
4,37,188670,2183-08-21 16:48:00.000,2183-08-26 18:54:00.000,EMERGENCY,HOME HEALTH CARE,WHITE,"[99232, 99238, 99291, 99223]","41071,4280,496,53551,2851,486,41401,25000,42789",M,2114-09-17 00:00:00.000,2185-01-06 00:00:00.000,HCFA,121.0,CIRCULATORY DISORDERS WITH ACUTE MYOCARDIAL IN...,NaN,NaN,68.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14035,98720,131917,2178-09-17 18:31:00.000,2178-09-23 17:30:00.000,EMERGENCY,LONG TERM CARE HOSPITAL,WHITE,"[99291, 99292, 92960]","42781,42833,5849,4589,2930,40291,4280,5990,427...",F,1878-09-17 00:00:00.000,NaN,APR,1713.0,"Perm Cardiac Pacemaker Implant w/o AMI, Heart ...",3.0,4.0,NaN
14036,98724,186754,2143-08-22 16:01:00.000,2143-09-02 17:15:00.000,EMERGENCY,REHAB/DISTINCT PART HOSP,WHITE,"[99291, 11043, 23472, 20610, 11046, 99233, 992...","99666,03819,78552,99592,42833,5849,99812,E8781...",F,2059-03-24 00:00:00.000,NaN,APR,3154.0,"Shoulder, Upper Arm & Forearm Procedures",4.0,4.0,84.0
14037,98744,153703,2127-10-21 12:43:00.000,2127-10-31 12:35:00.000,EMERGENCY,HOME HEALTH CARE,WHITE,"[52317, 52332, 74420, 99292, 99291, 36556, 992...","99859,0389,99592,78552,5849,5990,42830,9971,27...",M,2058-01-11 00:00:00.000,NaN,APR,7214.0,"Post-Operative, Post-Traumatic, Other Device I...",4.0,4.0,69.0
14038,98753,185764,2172-02-11 21:26:00.000,2172-03-02 08:00:00.000,EMERGENCY,DEAD/EXPIRED,WHITE,"[99233, 99232, 52001, 99223, 99356, 99291, 992...","1888,51881,5849,56881,42831,40391,1985,04111,1...",F,2094-05-01 00:00:00.000,2172-03-02 00:00:00.000,APR,4614.0,Kidney & Urinary Tract Malignancy,4.0,4.0,77.0
14039,98755,184156,2167-05-17 12:36:00.000,2167-05-18 17:03:00.000,EMERGENCY,LONG TERM CARE HOSPITAL,WHITE,"[99291, 99233, 94003]","49121,42832,25000,4280,3004",F,2087-03-31 00:00:00.000,2167-05-20 00:00:00.000,APR,1402.0,Chronic Obstructive Pulmonary Disease,2.0,2.0,80.0

Adding column for readmission

In [43]:
# Note: Convert date columns to datetime
merged_df['admittime'] = pd.to_datetime(merged_df['admittime'])
merged_df['dischtime'] = pd.to_datetime(merged_df['dischtime'])
merged_df['dod'] = pd.to_datetime(merged_df['dod'])

In [44]:
# Step 2: Define 30-day readmission target
merged_df = merged_df.sort_values(['subject_id', 'dischtime'])
merged_df['next_admittime'] = merged_df.groupby('subject_id')['admittime'].shift(-1)

In [45]:
merged_df['days_to_readmit'] = (
    (merged_df['next_admittime'] - merged_df['dischtime']).dt.total_seconds() / 86400 #(60 * 60 * 24)
)

merged_df

,subject_id,hadm_id,admittime,dischtime,admission_type,discharge_location,ethnicity,cpt_cd,all_diagnosis,gender,dob,dod,drg_type,drg_code,description,drg_severity,drg_mortality,age,next_admittime,days_to_readmit
38,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,SNF,WHITE,"[94002, 94003]","0389,78559,5849,4275,41071,4280,6826,4254,2639",M,2025-04-11 00:00:00.000,2102-06-14,HCFA,416.0,SEPTICEMIA AGE >17,NaN,NaN,76.0,NaT,NaN
39,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,EMERGENCY,DEAD/EXPIRED,UNKNOWN/NOT SPECIFIED,[94003],"431,5070,4280,5849,2765,4019",M,2108-01-26 00:00:00.000,2149-11-14,HCFA,14.0,INTRACRANIAL HEMORRHAGE & STROKE W/ INFARCTION,NaN,NaN,41.0,NaT,NaN
40,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,EMERGENCY,REHAB/DISTINCT PART HOSP,WHITE,"[99255, 99292, 99291, 99231, 90935, 99232, 909...","41071,78551,5781,5849,40391,4280,4592,5070,427...",M,2047-04-04 00:00:00.000,2135-02-08,APR,1744.0,Percutaneous Cardiovascular Procedures w/ AMI,4.0,4.0,87.0,NaT,NaN
0,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,EMERGENCY,HOME,UNKNOWN/NOT SPECIFIED,"[99223, 99231]","99604,4271,4280,42731,41401,412,5939,2720,60000",M,2054-05-04 00:00:00.000,2128-02-25,HCFA,515.0,CARDIAC DEFIBRILLATOR IMPLANT WITHOUT CARDIAC ...,NaN,NaN,72.0,NaT,NaN
1,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,URGENT,HOME HEALTH CARE,UNKNOWN/NOT SPECIFIED,NaN,"99674,4160,4111,4281,4271,41401,4019,2720,5939",M,1872-10-14 00:00:00.000,NaT,HCFA,468.0,EXTENSIVE OPERATING ROOM PROCEDURE UNRELATED T...,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13440,99982,151454,2156-11-28 11:56:00,2156-12-08 13:45:00,EMERGENCY,HOME HEALTH CARE,WHITE,"[36556, 99291, 99232, 33465, 94002]","42823,4254,2875,42731,3970,5303,4280,V5861,45829",M,2091-10-02 00:00:00.000,2157-03-04,APR,1633.0,Cardiac Valve Procedures w/o Cardiac Catheteri...,3.0,3.0,65.0,2157-01-05 17:27:00,28.154167
13441,99982,112748,2157-01-05 17:27:00,2157-01-12 13:00:00,EMERGENCY,HOME,WHITE,[99291],"4280,42823,5849,4254,2763,42731,78729,53081,V4...",M,2091-10-02 00:00:00.000,2157-03-04,APR,1914.0,Cardiac Catheterization w/ Circ Disord Exc Isc...,4.0,3.0,65.0,2157-02-16 17:31:00,35.188194
13442,99982,183791,2157-02-16 17:31:00,2157-02-22 20:36:00,EMERGENCY,SHORT TERM HOSPITAL,WHITE,"[99223, 99232, 99233, 99239]","5849,42731,4280,2875,59689,53081,56400,78720,V...",M,2091-10-02 00:00:00.000,2157-03-04,APR,1914.0,Cardiac Catheterization w/ Circ Disord Exc Isc...,4.0,4.0,65.0,NaT,NaN
13443,99991,151118,2184-12-24 08:30:00,2185-01-05 12:15:00,ELECTIVE,HOME,WHITE,"[99291, 49002, 45300, 44213, 44204, 94002]","56211,0389,5570,5849,99592,56081,78959,5538,78...",M,2137-04-07 00:00:00.000,NaT,APR,2214.0,Major Small & Large Bowel Procedures,4.0,4.0,47.0,NaT,NaN
13481,99995,137810,2147-02-08 08:00:00,2147-02-11 13:15:00,ELECTIVE,HOME,WHITE,"[99231, 99291, 99232, 99222, 76937, 34825, 348...","4414,42833,99812,2851,4241,25000,99811,9961,E8...",F,2058-05-29 00:00:00.000,2147-09-29,APR,1732.0,Other Vascular Procedures,2.0,3.0,88.0,NaT,NaN

In [46]:
mask = merged_df['days_to_readmit'].isna()
days_diff = (merged_df['dod'] - merged_df['dischtime']).dt.total_seconds() / 86400

# Assign where value is <= 30
merged_df.loc[mask & (days_diff <= 30) & (days_diff > 0), 'days_to_readmit'] = days_diff - 1

In [47]:
merged_df

,subject_id,hadm_id,admittime,dischtime,admission_type,discharge_location,ethnicity,cpt_cd,all_diagnosis,gender,dob,dod,drg_type,drg_code,description,drg_severity,drg_mortality,age,next_admittime,days_to_readmit
38,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,SNF,WHITE,"[94002, 94003]","0389,78559,5849,4275,41071,4280,6826,4254,2639",M,2025-04-11 00:00:00.000,2102-06-14,HCFA,416.0,SEPTICEMIA AGE >17,NaN,NaN,76.0,NaT,NaN
39,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,EMERGENCY,DEAD/EXPIRED,UNKNOWN/NOT SPECIFIED,[94003],"431,5070,4280,5849,2765,4019",M,2108-01-26 00:00:00.000,2149-11-14,HCFA,14.0,INTRACRANIAL HEMORRHAGE & STROKE W/ INFARCTION,NaN,NaN,41.0,NaT,NaN
40,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,EMERGENCY,REHAB/DISTINCT PART HOSP,WHITE,"[99255, 99292, 99291, 99231, 90935, 99232, 909...","41071,78551,5781,5849,40391,4280,4592,5070,427...",M,2047-04-04 00:00:00.000,2135-02-08,APR,1744.0,Percutaneous Cardiovascular Procedures w/ AMI,4.0,4.0,87.0,NaT,NaN
0,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,EMERGENCY,HOME,UNKNOWN/NOT SPECIFIED,"[99223, 99231]","99604,4271,4280,42731,41401,412,5939,2720,60000",M,2054-05-04 00:00:00.000,2128-02-25,HCFA,515.0,CARDIAC DEFIBRILLATOR IMPLANT WITHOUT CARDIAC ...,NaN,NaN,72.0,NaT,NaN
1,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,URGENT,HOME HEALTH CARE,UNKNOWN/NOT SPECIFIED,NaN,"99674,4160,4111,4281,4271,41401,4019,2720,5939",M,1872-10-14 00:00:00.000,NaT,HCFA,468.0,EXTENSIVE OPERATING ROOM PROCEDURE UNRELATED T...,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13440,99982,151454,2156-11-28 11:56:00,2156-12-08 13:45:00,EMERGENCY,HOME HEALTH CARE,WHITE,"[36556, 99291, 99232, 33465, 94002]","42823,4254,2875,42731,3970,5303,4280,V5861,45829",M,2091-10-02 00:00:00.000,2157-03-04,APR,1633.0,Cardiac Valve Procedures w/o Cardiac Catheteri...,3.0,3.0,65.0,2157-01-05 17:27:00,28.154167
13441,99982,112748,2157-01-05 17:27:00,2157-01-12 13:00:00,EMERGENCY,HOME,WHITE,[99291],"4280,42823,5849,4254,2763,42731,78729,53081,V4...",M,2091-10-02 00:00:00.000,2157-03-04,APR,1914.0,Cardiac Catheterization w/ Circ Disord Exc Isc...,4.0,3.0,65.0,2157-02-16 17:31:00,35.188194
13442,99982,183791,2157-02-16 17:31:00,2157-02-22 20:36:00,EMERGENCY,SHORT TERM HOSPITAL,WHITE,"[99223, 99232, 99233, 99239]","5849,42731,4280,2875,59689,53081,56400,78720,V...",M,2091-10-02 00:00:00.000,2157-03-04,APR,1914.0,Cardiac Catheterization w/ Circ Disord Exc Isc...,4.0,4.0,65.0,NaT,8.141667
13443,99991,151118,2184-12-24 08:30:00,2185-01-05 12:15:00,ELECTIVE,HOME,WHITE,"[99291, 49002, 45300, 44213, 44204, 94002]","56211,0389,5570,5849,99592,56081,78959,5538,78...",M,2137-04-07 00:00:00.000,NaT,APR,2214.0,Major Small & Large Bowel Procedures,4.0,4.0,47.0,NaT,NaN
13481,99995,137810,2147-02-08 08:00:00,2147-02-11 13:15:00,ELECTIVE,HOME,WHITE,"[99231, 99291, 99232, 99222, 76937, 34825, 348...","4414,42833,99812,2851,4241,25000,99811,9961,E8...",F,2058-05-29 00:00:00.000,2147-09-29,APR,1732.0,Other Vascular Procedures,2.0,3.0,88.0,NaT,NaN

Merging with procedures

In [48]:
# Group by subject_id and hadm_id, then aggregate the rest into tuples
crop_procedures = crop_procedures.groupby(['subject_id', 'hadm_id'])[['seq_num', 'icd9_code']] \
    .apply(lambda x: list(zip(x['seq_num'], x['icd9_code']))) \
    .reset_index(name='procedure_pairs')

In [49]:
merged_df = pd.merge(merged_df , crop_procedures, on=['subject_id', 'hadm_id'], how='left')

In [50]:
checkpoint = merged_df

In [51]:
merged_df = checkpoint

Merging with labEvents

In [52]:
req_labEvents = crop_labEvents.dropna(subset=['hadm_id']).copy()
req_labEvents['hadm_id'] = req_labEvents['hadm_id'].astype(int)

In [53]:
# Merge to get dischtime
req_labEvents = pd.merge(
    req_labEvents,
    merged_df[['hadm_id', 'dischtime']],
    on=['hadm_id'],
    how='inner'
)

# Convert to datetime if not already
req_labEvents['charttime'] = pd.to_datetime(req_labEvents['charttime'])
req_labEvents['dischtime'] = pd.to_datetime(req_labEvents['dischtime'])

In [54]:
req_labEvents['days_before_discharge'] = (
    (req_labEvents['dischtime'] - req_labEvents['charttime']).dt.total_seconds() / 86400
)

# Optional: Remove rows where lab test was after discharge (if any)
req_labEvents = req_labEvents[req_labEvents['days_before_discharge'] >= 0]

In [55]:
req_labEvents['flag'] = req_labEvents['flag'].fillna('normal')

In [56]:
req_labEvents['value'].isnull().sum()

401

In [57]:
req_labEvents = req_labEvents.dropna(subset=['value']).copy()

In [58]:
req_labEvents = req_labEvents.drop(columns=['charttime','dischtime'])

In [59]:
# Grouping and aggregating
req_labEvents = (
    req_labEvents.groupby(['hadm_id', 'subject_id'])[['itemid', 'value', 'flag', 'days_before_discharge']]
    .apply(lambda df: list(df.itertuples(index=False, name=None)))
    .reset_index(name='lab_events')
)

In [60]:
req_labEvents

       hadm_id  subject_id                                         lab_events
0       100018       58128  [(50868, 14, normal, 8.252083333333333), (5088...
1       100020        9973  [(50882, 30, normal, 9.063888888888888), (5089...
2       100035       48539  [(51248, 31.7, normal, 12.368055555555555), (5...
3       100036       30078  [(51248, 30.6, normal, 5.4875), (51249, 33.4, ...
4       100039       53014  [(51104, 243, normal, 27.898611111111112), (51...
...        ...         ...                                                ...
13913   199963        5478  [(51498, 1.012, normal, 2.90625), (51506, Hazy...
13914   199972       81561  [(51237, 1.2, abnormal, 13.291666666666666), (...
13915   199981       28616  [(50868, 16, normal, 3.4375), (50882, 29, norm...
13916   199993       20785  [(51222, 11.3, abnormal, 5.211805555555555), (...
13917   199994       23761  [(50800, ART, normal, 6.498611111111111), (508...

[13918 rows x 3 columns]

In [61]:
merged_df = pd.merge(merged_df, req_labEvents, on=['hadm_id','subject_id'], how='left')

In [62]:
merged_df

,subject_id,hadm_id,admittime,dischtime,admission_type,discharge_location,ethnicity,cpt_cd,all_diagnosis,gender,...,drg_type,drg_code,description,drg_severity,drg_mortality,age,next_admittime,days_to_readmit,procedure_pairs,lab_events
0,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,EMERGENCY,SNF,WHITE,"[94002, 94003]","0389,78559,5849,4275,41071,4280,6826,4254,2639",M,...,HCFA,416.0,SEPTICEMIA AGE >17,NaN,NaN,76.0,NaT,NaN,"[(1, 9604), (2, 9962), (3, 8964), (4, 9672), (...","[(50868, 17, normal, 10.8875), (50882, 25, nor..."
1,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,EMERGENCY,DEAD/EXPIRED,UNKNOWN/NOT SPECIFIED,[94003],"431,5070,4280,5849,2765,4019",M,...,HCFA,14.0,INTRACRANIAL HEMORRHAGE & STROKE W/ INFARCTION,NaN,NaN,41.0,NaT,NaN,"[(1, 9672), (2, 9604)]","[(50819, 5, normal, 0.17222222222222222), (508..."
2,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,EMERGENCY,REHAB/DISTINCT PART HOSP,WHITE,"[99255, 99292, 99291, 99231, 90935, 99232, 909...","41071,78551,5781,5849,40391,4280,4592,5070,427...",M,...,APR,1744.0,Percutaneous Cardiovascular Procedures w/ AMI,4.0,4.0,87.0,NaT,NaN,"[(1, 66), (2, 3761), (3, 3950), (4, 3606), (5,...","[(51274, 15.5, abnormal, 9.602777777777778), (..."
3,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,EMERGENCY,HOME,UNKNOWN/NOT SPECIFIED,"[99223, 99231]","99604,4271,4280,42731,41401,412,5939,2720,60000",M,...,HCFA,515.0,CARDIAC DEFIBRILLATOR IMPLANT WITHOUT CARDIAC ...,NaN,NaN,72.0,NaT,NaN,"[(1, 3794), (2, 8959)]","[(51237, 1.3, normal, 4.4375), (51248, 32.2, a..."
4,30,104557,2172-10-14 14:17:00,2172-10-19 14:37:00,URGENT,HOME HEALTH CARE,UNKNOWN/NOT SPECIFIED,NaN,"99674,4160,4111,4281,4271,41401,4019,2720,5939",M,...,HCFA,468.0,EXTENSIVE OPERATING ROOM PROCEDURE UNRELATED T...,NaN,NaN,NaN,NaT,NaN,"[(1, 8601), (2, 3723), (3, 8855), (4, 9227)]","[(50800, ART, normal, 4.938194444444444), (508..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14035,99982,151454,2156-11-28 11:56:00,2156-12-08 13:45:00,EMERGENCY,HOME HEALTH CARE,WHITE,"[36556, 99291, 99232, 33465, 94002]","42823,4254,2875,42731,3970,5303,4280,V5861,45829",M,...,APR,1633.0,Cardiac Valve Procedures w/o Cardiac Catheteri...,3.0,3.0,65.0,2157-01-05 17:27:00,28.154167,"[(1, 3527), (2, 3961)]","[(50862, 3.9, normal, 9.927777777777777), (508..."
14036,99982,112748,2157-01-05 17:27:00,2157-01-12 13:00:00,EMERGENCY,HOME,WHITE,[99291],"4280,42823,5849,4254,2763,42731,78729,53081,V4...",M,...,APR,1914.0,Cardiac Catheterization w/ Circ Disord Exc Isc...,4.0,3.0,65.0,2157-02-16 17:31:00,35.188194,"[(1, 3721)]","[(50912, 1.1, normal, 4.269444444444445), (509..."
14037,99982,183791,2157-02-16 17:31:00,2157-02-22 20:36:00,EMERGENCY,SHORT TERM HOSPITAL,WHITE,"[99223, 99232, 99233, 99239]","5849,42731,4280,2875,59689,53081,56400,78720,V...",M,...,APR,1914.0,Cardiac Catheterization w/ Circ Disord Exc Isc...,4.0,4.0,65.0,NaT,8.141667,"[(1, 3721), (2, 3897), (3, 8964)]","[(51249, 32.7, normal, 1.2125), (51250, 94, no..."
14038,99991,151118,2184-12-24 08:30:00,2185-01-05 12:15:00,ELECTIVE,HOME,WHITE,"[99291, 49002, 45300, 44213, 44204, 94002]","56211,0389,5570,5849,99592,56081,78959,5538,78...",M,...,APR,2214.0,Major Small & Large Bowel Procedures,4.0,4.0,47.0,NaT,NaN,"[(1, 1736), (2, 5412), (3, 5459), (4, 544), (5...","[(50802, -4, normal, 7.334722222222222), (5080..."
14039,99995,137810,2147-02-08 08:00:00,2147-02-11 13:15:00,ELECTIVE,HOME,WHITE,"[99231, 99291, 99232, 99222, 76937, 34825, 348...","4414,42833,99812,2851,4241,25000,99811,9961,E8...",F,...,APR,1732.0,Other Vascular Procedures,2.0,3.0,88.0,NaT,NaN,"[(1, 3971), (2, 8339), (3, 1771)]","[(51237, 1.9, abnormal, 3.173611111111111), (5..."

In [ ]:
final_df = merged_df
final_df.to_csv('Provided Tables/final_df.csv')

In [ ]:
df = final_df[['admission_type',
        'discharge_location',
        'ethnicity',
        'cpt_cd',
        'all_diagnosis',
        'gender',
        'drg_type',
        'drg_code',
        'description',
        'drg_severity',
        'drg_mortality',
        'age',
        'procedure_pairs',
        'lab_events',
        'days_to_readmit']]